{% extends '::base.html.twig' %}

{% block title %}
{{ parent() }} - Calendrier
{% endblock %}

{% block body %}
<div id="topbar" style="margin-bottom:5px">
	<div style="margin:10px;">
		N'hésitez pas à faire défiler pour voir les créneaux du soir.<br/>
		Les photos seront prises dans la salle de réunion de la 5° compagnie.
		<br/>
		Ton surnom est  <button id="surname-button">le changer</button>
		{% if admin %}
			<button id="admin-button"> Site admin </button>
		{% endif %}
		<button id="logout-button">Se déconnecter</button>
		<br/>Besoin d'inspiration pour ta photo ? Aucun créneau de ne convient ? Tu as peur d'être moche ? N'hésite pas à en <a href="mailto:photo@apr.eltrai.net">discuter avec des gens du Binet APR</a> !
	</div>
</div>
<div id='calendar'></div>
{% endblock %}
